@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
	margin: 0;
	padding: 0;
}

.rich {
	font-family: "Lobster", system-ui;
	color: rgb(43, 206, 51);
	padding-bottom: 5px;
}

body {
	/* background-color: rgb(224, 156, 66); */
	background-image: url(https://globalperm.ru/usr/news/fullnews-16959018060.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

header {
	background-color: rgb(185, 126, 36);
	position: fixed;
	width: 100%;
	top: 0;
	padding: 20px 40px;
	z-index: 100;
}

main {
	padding-top: 80px;
}

.btnicon {
	width: 30px;
}

.card {
	background-color: rgb(185, 126, 36);
	/* width: 570px; */
	/* height: 400px; */
	text-align: center;
	box-shadow: 0px 0px 7px 1px black;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	display: flex;
	/* justify-content: space- */
	align-items: start;
}

.card:hover {
	background-color: rgb(165, 115, 40);
	transform: scale(0.99);
}
.imgBox {
	overflow: hidden;
	height: 100%;
}
.card img {
	width: 150px;
	height: 100%;
	object-fit: cover;
	transition: all 0.2s;
}
.card img:hover {
	transform: scale(1.2);
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 10px;
	gap: 40px;
	max-width: 1200px;
	margin: 0 auto;
}

.wrappers {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100px;
	padding: 10px;
}

.cardinfo {
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	justify-content: space-between;
	height: 100%;
	align-items: center;
	padding-left: 30px;
}

.buynow {
	text-align: end;
	border: 2px solid rgb(0, 48, 14);
	border-radius: 10px;
	outline: none;
	background: rgb(0, 70, 21);
	background: linear-gradient(
		0deg,
		rgba(0, 70, 21, 1) 0%,
		rgba(24, 231, 86, 1) 100%
	);
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition-property: all;
	transition: 0.2s;
}

.buynow path,
circle {
	stroke: #ffffff;
}

.buynow:hover {
	border: 2px solid rgb(0, 31, 9);
	background: rgb(0, 49, 15);
	background: linear-gradient(0deg, rgb(0, 43, 13) 0%, rgb(18, 168, 63) 100%);
	color: #dadada;
	transform: scale(1.05);
}

.buynow:active {
	border: 2px solid rgb(0, 56, 17);
	background: rgb(0, 65, 19);
	background: linear-gradient(0deg, rgb(0, 90, 27) 0%, rgb(27, 253, 95) 100%);
	transform: scale(0.95) perspective(1px);
}

.buynow:hover path,
.buynow:hover circle {
	stroke: #dadada;
}

.buynow svg {
	width: 20px;
	height: 20px;
}

.header {
	display: inline;
}

.discount {
	color: #460d88;
}

.side {
	width: 50px;
	height: 50px;
}

@media (max-width: 1150px) {
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 810px) {
	.wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
}
